* {
    box-sizing: border-box;
}



nav{
    /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
    position: sticky;
    top: 0;
    background-color: #f0ede7;
    display: grid;
    text-align: center;
    align-items: center;
    z-index: 2;
}

nav img{
    width: 7%;
    margin: 10px;
    display: block;
    grid-column: 1;
    grid-row: 1;
    margin-left: 20px;
}

.main-nav {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
  }

.main-nav a {
    margin: 10px;
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
  }

#boutonnav{
    margin-top: 3px;
}

footer{
    position: sticky;
    bottom: 0;
    background-color: #f0ede7;
    text-align: center;
    margin: 0;
    margin-top: 50px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.progress{
    margin-bottom: 15px;
}

h1{
    font-size: 50px;
    margin: 60px;
    margin-left: 100px;
    font-weight: 700;
}

#espacequiz{

    background-color: #222;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;

}

.modal-content{

    background-color: #a8d0d8;
}

.offcanvas{
    background-color: #a8d0d8 ;
    color: #111;

}

.bluebtn {
    background-color: #d9d5bb;
}

.containerflex {
    display: flex;
    margin: 200px;
}

.item-1 {
    width : 50%;


}

.item-2 {
    width : 50%;
}

#button {
    color : #f0ede7;
    border-color: transparent;
}

p {
    font-size: 20pt;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.navbar {
    
    position: sticky;
    top: 0;
    background-color: #f0ede7;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
}

.nav-buttons {
    margin-right: 20px;
}

.nav-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.block {
    background-color: #f0ede7;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.block img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.block-text {
    padding: 0 20px;
}

.block-text h2 {
    font-size: 24px;
    margin-top: 0;
}

.block-text p {
    font-size: 16px;
}

.block-button {
    text-align: center;
    margin-top: 20px;
}

.block-button button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.golffterrain {
    background-image: url(img/terrain\ de\ golff.svg);
    z-index: 0;
}

.surtexte {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(1 1 1 / 0.5); /* 50% transparent */
    color : white;
}

.titreform {
    text-align: center;
}

.textform {
    text-align: center !important;
}

.boutoncentre {
    align-items: center!important;
  justify-content: center!important;
  width : 100% ;
}